@model Spending

@{
    ViewData["Title"] = "Update spending";
}

<form method="post" class="form-main">
    <div class="p-3 mt-4 div-form-main">
        <div class="row pb-2">
            <h2>Update spending</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label>Category</label>
            <select asp-for="CategoryId" asp-items="(List<SelectListItem>)@ViewData["Categories"]" class="form-control"></select>
        </div>
        <div class="mb-3">
            <label>Sum</label>
            <input asp-for="Sum" type="number" step=".01" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Comment*</label>
            <textarea asp-for="Comment" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label>DateTime</label>
            <input asp-for="DateTime" type="datetime-local" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-success btn-form">
            <i class="bi bi-check-circle"></i>&nbsp;&nbsp;Submit
        </button>
        <a asp-controller="Spending" asp-action="Index" class="btn btn-warning btn-form">
            <i class="bi bi-backspace"></i>&nbsp;&nbsp;Back
        </a>
    </div>
</form>