@using Homework4.Models;
@model User

@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h4 class="text-main">I, <b class="text-info">@Model.Name (@Model.Email)</b>, became ASP.NET developer!</h4>
</div>
