@model Category

@{
    ViewData["Title"] = "Delete category";
}

<form method="post">
    <div class="container pt-3">
        <div class="container pt-3">
            <div class="row pt-4">
                <div class="col-9">
                    <h2 class="text-primary">Delete category</h2>
                </div>
                <div class="col-9">
                    <h5 class="text-danger">Be careful, you can't undone this changes</h5>
                    <h5 class="text-danger">Deleting this category will delete all spendings connected to it</h5>
                </div>
            </div>
        </div>
        <br />
        @if (Model != null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:10%">Id</th>
                        <th style="width:40%">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light">
                        <th>@Model.Id</th>
                        <td>@Model.Name</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="p-3 mt-4 div-form-main">
        <input asp-for="Id" hidden />
        <button type="submit" class="btn btn-danger btn-form">
            <i class="bi bi-trash"></i>&nbsp;&nbsp;Submit
        </button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-warning btn-form">
            <i class="bi bi-backspace"></i>&nbsp;&nbsp;Back
        </a>
    </div>

</form>