@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-3">
    <div class="container pt-3">
        <div class="row pt-4">
            <div class="col-9">
                <h2 class="text-primary">Welcome to MyFinance!</h2>
            </div>
        </div>
    </div>
</div>